#date-header {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.range {
  display: inline-block;
  text-align: center;
  width: 15em;
}

@media screen and (min-width: 45em) {
  #date-header {
    text-align: left;
  }

  #date-header {
    margin: 1em 2em;
  }
}
