#date-header {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.range {
  display: inline-block;
  text-align: center;
  width: 14em;
}

@media screen and (min-width: 55em) {
  #date-header {
    text-align: left;
  }
}
