
#week-note {
  padding: 0 2em;
}

#week-note div {
  margin-bottom: 3em;
  min-height: 35em;
}

@media screen and (min-width: 45em) {
  #week-note div {
    padding: 0 1em;
  }

  #week-note div {
    border: 1px solid white;
  }

  #week-note div:hover {
    border: 1px solid whitesmoke;
  }
}
